@{
    ViewBag.Title = "Nifty!";
}

<div class="row">
    <div class="col-md-4">
        <h2>Nifty! - NEW VERSION</h2>
        <p>
            This change was deployed automatically through <br />
            <strong>git - teamcity - octopus deploy</strong><br />
            Nifty! Isn't it!
        </p>
        <p><strong>It sure is!</strong></p>

    </div>
</div>