@using System.Configuration
@{
    ViewBag.Title = "Nifty!";
}

<div class="row">
    <div class="col-md-4">
        <h2>Nifty! - NEW VERSION</h2>
        <p><strong>@ConfigurationManager.AppSettings["configurationSpecificGreeting"]</strong></p>
        <p>
            This change was deployed automatically through <br/>
            <ul>
                <li>git</li>
                <li>teamcity</li>
                <li>nuget</li>
                <li>octopus deploy</li>
                <li>iis</li>
            </ul>
        </p>
        <p>Nifty! Isn't it!</p>
        <p><strong>It sure is!</strong></p>
    </div>
</div>